.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 65%
    right: 68%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 28%
    right: 71%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 24%
    right: 74%


@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal .tarjeta
  background-position: left 50% !important

.banner-principal__row .banner-principal__img
  width: 400px !important  

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal

/* Colores de fondo*/
.bg-color
  &-1
    background-color: #E5E2D3 !important
  &-2
    background-color: #DDF1F7 !important
  &-3
    background-color: #BDE4F0 !important    
  &-4
    background-color: #E6EFBD !important
  &-5
    background-color: #C0D85C !important
  &-6
    background-color: #F5F3EE !important
  &-7
    background-color: #2D5D6D !important
  &-8
    background-color: #FED401 !important
  &-9
    background-color: #FFE9B5 !important
        
/*Fin de Colores de fondo*/


/* Código para los subtítulos que tienen imagenes */
.titulo-con-imagen
  display: flex
  align-items: center
  position: relative

.titulo-con-imagen__fondo
  background-color: $color-acento-contenido
  border-radius: 10px
  padding: 10px 20px
  display: inline-flex
  align-items: center

.titulo-con-imagen__imagen
  position: absolute
  left: -20px
  width: 50px

.titulo-con-imagen__texto
  margin: 0
  padding-left: 20px
/* Fin Código para los subtítulos que tienen imagenes */


/* Código para los carruseles */
.carousel-bg .fas
  &.fa-chevron-left, &.fa-chevron-right
    display: inline-flex
    align-items: center
    justify-content: center
    width: 40px
    height: 40px
    background-color: $color-acento-contenido
    border-radius: 50%
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
    color: #000
    font-size: 16px
  @media screen and (max-width: $bp-max-md)
    background-color: transparent !important
    box-shadow: none !important
    font-size: 20px !important

.bordes
  border: 1px solid #CBD5E0 !important
/*Fin Código para los carruseles */



/*Slideshows*/
.bg-fondo
  &-slider
    background-image: url("../assets/curso/portada/fondo-banner-principal.png") !important
    background-position: bottom
.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #FF9800 !important
.slyder-a__bullets__item--active 
  background-color: #FF9800 !important
  border-color: #FF9800
.slyder-a__bullets__item
  background-color: #FF9800
  border: 1px solid #FF9800
.bloque-texto-b.color-secundario:before
  background-color: #CBE7E8
.acordion__accion__btn--a
  background-color: #FED401 !important
.acordion__activo
  background-color: #E6DCFB !important
.acordion_titulo
  color: #fff !important
.tarjeta-numerada.color-primario
  border-color: #F3F0EA
  background-color: #F3F0EA
.tarjeta-numerada.color-primario .tarjeta-numerada__numero
  background-color: #FD9826
.tarjeta-numerada__numero
  top: 35%
/*Slideshows*/


/*Tablas*/
.tabla-a.color-acento-botones thead
  border-color: $color-acento-contenido
  background-color: $color-acento-contenido !important
.tabla-a th, table td 
  text-align: start
.banner-principal__row .banner-principal__img
  width: 500px !important
.separador__tabla
  background-color: #F6F6F6

.tabla-a table 
  min-width: 100% !important;
  table-layout: auto; 

.tabla-a 
  overflow-x: visible !important; 

.tabla-a
  table
    tbody
      tr:nth-child(odd)
        background-color: #F6F6F6
      tr:nth-child(even)
        background-color: #FFFFFF 
/*Tablas*/


/*Audio*/
.bg-custom-teal
  background-color: #2D5D6D !important 
  position: relative
  overflow: hidden
  
.bg-custom-dark-teal
  background-color: #264d59 !important

.border-lemon
  border: 4px solid #d4eb79 !important
  border-radius: 15px

/*Fin Audio*/

/*Vinetas con numeros*/
.lista-ol--cuadro__vineta
  color: $color-sistema-texto
  background-color: $color-acento-contenido
/*Vinetas con numeros*/

/*Pestanas */
.tabs-c__tab--active
  font-weight: bold

.tabs-c__content-item
  background-color: #DDf1f7
  padding: 2rem

.tabs-c
  border-bottom: none !important

.tabs-a__tab
  background-color: #FDF0AC
/*Pestanas*/


/*Accordion*/
.tarjeta.acordeonA
  background-color: #BDE4F0

.acordion__accion__btn--a
  background-color: #FFE9B5 !important

.acordion__activo
  background-color: #FFE9B5 !important

.acordion__accion__btn--a
  background-color: #FED401 !important

.acordion__activo
  background-color: #FFE9B5 !important
/*Fin Accordion*/